
:root{
  --white-color:white;
  --white-sub-color:rgba(252, 252, 252, 0.586);
  --black-color:black;
  --black-sub-color:rgba(0, 0, 0, 0.612);
  --main-color:rgb(153, 226, 43);
}



body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  width: 100vw;
  height: 1100px;
  position: relative;
}

/*             Commons styles   */
.container{
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}
.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.d-flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* star header area */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 1111;
}
.header-area{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(1, 0, 0, 0.643);
}
.header-area .logo{
  width: 20%;
  line-height: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.header-area .nav-bar{
  width: 60%;
  height: 70px;
}
.header-area .nav-bar .list-item{
  width: 100%;
  height: 100%;
}
.header-area .nav-bar .list-item .item{
  list-style: none;
  height: 40px;
  /* width: 90%; */
  line-height: 40px;
  margin: 0 5px;
  text-align: center;
  text-transform: uppercase;
}
.nav-bar .list-item .item .link{
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-top: 10px 0;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
}
.nav-bar .list-item .item .link:hover,
.nav-bar .list-item .item .link.active{
  color: var(--main-color);
}
.header-area .theme{
  width: 10%;
  line-height: 60px;
  height: 60px;
  margin :10px 0;
}
.theme .content-theme{
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.theme .content-theme .btn-theme{
  background-color: var(--black-color);
  color: var(--white-color);
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* dynamic class btn theme */
.float-r{
  float: right;
  background-color: var(--white-color);
  color: var(--black-color);
}









/* end header area */

/* end main area */
.main{
  width: 100%;
  height: auto;
}
.section-home{
  width: 100%;
  height: 100vh;
  background-color: #6f3a3a;
}
.section-home .section-main-content{
  width: 100%;
  height: 100vh;
  position: relative;
}

/* set aside bar */
/* star aside bar */

.aside{
  position: fixed;
  top:0;
  bottom: O;
  left: -200px;
  width: 200px;
  height: 100%;
  z-index: 1111;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  background: rgba(255, 255, 255, 0.41);
  border-radius:0 16px 16px 0;
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(7.4px);
  -webkit-border-radius:0 16px 16px 0;
  -moz-border-radius:0 16px 16px 0;
  -ms-border-radius:0 16px 16px 0;
  -o-border-radius:0 16px 16px 0;
}
.aside .icon-span{
  position: absolute;
  background: rgba(255, 255, 255, 0.41);
  top: 100px;
  left: 200px;
  height: 40px;
  width: 40px;
  border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  -moz-border-radius: 0 50% 50% 0;
  -ms-border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.aside .content-aside{
  height: 100%;
  width: 100%;
  gap: 10px;
  
}
.aside .content-aside .color-span{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;

}
.content-aside .color-span:nth-child(1){
  background-color:#1768eb;
}
.content-aside .color-span:nth-child(2){
  background-color:#d8ee11;
}
.content-aside .color-span:nth-child(3){
  background-color:#5deef8;
}
.content-aside .color-span:nth-child(4){
  background-color:#0dde0d;
}
.content-aside .color-span:nth-child(5){
  background-color:#de480d;
}
.show-me-aside{
  left: 0;
}




























/* end aside bar */
.section-home .section-main-content .overlay{
  position: absolute;
  background-color: #00000072;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.container .text-presentation{
  position: absolute;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vmin;
  height: 90%;
}
.container .title{
  color:var(--main-color);
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.container .desc-title{
  margin: 20px;
  letter-spacing: 1px;
  font-size: 25px;
}
.container .btn-title{
  width: 120px;
  height: 40px;
  border: none;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.614);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-size: 22px;
}
.container .btn-title:hover{
  background-color: var(--main-color);
}




/* star  slider */
.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background: url(/images/1.JPG) center center;
} 
.slide .slider-content{
  width: 100%;
  height: 100%;
}
.slide .slider-content .btn-controle{
  width: 100%;
  height: 100%;
}
.slide .slider-content .btn{
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #faf9f979;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: .4s ease;
  border: none;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  z-index: 11;
  cursor: pointer;

}
.btn-prev{
  top: 50%;
  left: 30px;
}
.btn-next{
  top: 50%;
  right: 30px;
}
.slider-content .btn:hover{
  background-color: var(--main-color);
}
.bulls{
  width:auto;
  height: 30px;
  border-radius: 20px;
  background: #f6f6f7aa;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  line-height:40px;
  z-index: 11;
  cursor: pointer;
}

/*   created li whit js files */

ul li[data-number]{
  list-style:none;
  width:20px;
  height:20px;
  text-align: center;
  margin: 5px auto;
  line-height:20px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*    dynamic style for created li*/
ul li[data-number].active{
  color: var(--main-color);
}
/* end  slider */
/* end main */